from flask import Flask, render_template, request

app = Flask(__name__)

students = {
    "Sanjota": {"name": "Sanjota", "grade": "A"},
    "Rahul": {"name": "Rahul", "grade": "B"},
    "Priya": {"name": "Priya", "grade": "A+"}
}

@app.route("/", methods=["GET", "POST"])
def index():
    student = None

    if request.method == "POST":
        student_name = request.form.get("student_name")
        student = students.get(student_name)

    return render_template("index.html", student=student)

if __name__ == "__main__":
    app.run(debug=True)